<h1>Welcome to Langs</h1>

<% if @langs.length < 1 %>
    <h4>Nothing here .</h4>
<% end %>
<% for id, lang in @langs %>
    <p><%= id %> - <%= lang["name"] %>: <%= lang["year"] %></p>
<% end %>

<div>
    <label for="lang_name">Name: </label>
    <input type="text" id="lang_name"> <br><br>
    <label for="lang_year">Year: </label>
    <input type="text" id="lang_year"> <br><br>
    <input type="button" id="add-btn" value="Add"> <br><br>
    <label for="lang_id">Id: </label>
    <input type="text" id="lang_id"> <br><br>
    <input type="button" id="del-btn" value="Delete">
</div>

<script>
    const titleElement = document.createElement('title')
    titleElement.innerHTML = "RailsTuto - Langs"
    document.querySelector('head').appendChild(titleElement)

    document.getElementById("add-btn").onclick = () => {
        let langName = document.getElementById("lang_name").value
        let langYear = document.getElementById("lang_year").value

        fetch(`/new`, {
            method: "POST",
            headers: {
                'Content-Type': 'application/json',
                'X-CSRF-Token': "<%= form_authenticity_token %>"
            },
            body: JSON.stringify({ name: langName, year: langYear })
        })
            .then(res => res.text())
            .then(data => {
                if (data == "NO") alert("Something went wrong!");
                else window.location.reload();
            })
    }

    document.getElementById("del-btn").onclick = () => {
        let langId = document.getElementById("lang_id").value
        fetch(`/delete`, {
            method: "POST",
            headers: {
                'Content-Type': 'application/json',
                'X-CSRF-Token': "<%= form_authenticity_token %>"
            },
            body: JSON.stringify({ id: langId })
        })
            .then(res => res.text())
            .then(data => {
                if (data == "NO") alert("Something went wrong!");
                else window.location.reload();
            })
    }
</script>

<p>Developed by Bari BGF @2023</p>
